.section {
    margin-top: 90px;
    padding: 0 250px;
    min-height: 100vh;

    .title {
        font-size: 2.42rem;
        font-weight: inherit;
        color: #000;
        margin-bottom: 16px;
    }
}