.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 100px;
    object-fit: contain;
}