.section {
    padding: 0 250px;
    margin-bottom: 100px;
}

.apresentationText {
    margin-top: 100px;
    text-align: left;
    max-width: 1100px;

    .title{
        font-size: 2.42rem;
        font-weight: inherit;
        color: #000;
        margin-bottom: 16px;
    }

    .description {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 0;
        font-weight: inherit;
    }
}