.grid {
    display: flex;
    background-color: #f4f4f4;
    height: 100px;
    padding: 0 250px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    &__left{
        display: flex;
        gap: 60px;
    }
}