.bgc {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
}

.content {
    margin: 0 0 0 250px;
    max-width: 680px;
}

.text {
    .title {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 16px;
    }

    .subtitle {
        font-size: 1.5rem;
        color: #f4f4f4;
        margin-bottom: 0;
    }
}

.ctaButton {
    margin-top: 24px;
    background: #8ae0db;
    color: #000;
    border: 1px solid #000;
    border-radius: 0%;
    width: 50%;
}